@import "vars";

.banner {
    min-height: 544px;
    padding-top: 140px;
    padding-bottom: 89px;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    background-image: url(../img/banner-bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  
    &__title {
      margin: 0 0 45px;
      font-family: $secondary-font;
      font-style: normal;
      font-weight: 300;
      font-size: 30px;
      line-height: 30px;
      letter-spacing: 0.5em;
    }
    &__info {
        margin: 0 0 45px;
        font-family: $main-font;
        font-style: normal;
        font-weight: 900;
        font-size: 55px;
        line-height: 60px;
    }
    &__info-secondary {
        margin: 0 0 45px;
        font-family: $secondary-font;
        font-style: normal;
        font-weight: 300;
        font-size: 30px;
        line-height: 30px;
    }
    &__btn{
        color: $light;
        font-family: $main-font;
        font-style: normal;
        font-weight: 900;
        font-size: 18px;
        line-height: 18px;
        text-transform: uppercase;

        border: 2px solid #ffffff;
        box-sizing: border-box;
        width: 180px;
        height: 35px;
    }
}